<!DOCTYPE html>
    <html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>
    </head>
    <header id="sample">
      <h3>記事一覧</h3>
      <nav>
        <ul>
          <li><a href="/">ホーム</a></li>
        </ul>
      </nav>
    </header>
    <body>
      <h1>{{title}}</h1>
      <form method="GET" action="" name="title_filter">
        {% csrf_token %}
        <p><label>検索テキスト：<input type="text" name="title" size="30" maxlength="255"></label></p>
        <p><input type="submit" value="検索する"></p>
      </form>

      <table border="1">
      <tr>
        <th>タイトル</th>
        <th>日時</th>
        <th>投稿者</th>
      </tr>
      {% for item in document_list %}
      <tr>
        <td>{{ item.title }}</td>
        <td>{{ item.uploaded_at }}</td>
        {% if user.is_authenticated %}
          <td>"{{ item.author.username}}"<a href="{% url 'add' %}?name={{item.author.username}}">友達追加</a></td>
        {% else %}
          <td>"{{ item.author.username }}</td>
        {% endif %}

      </tr>
      {% endfor %}
      </table>
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
    </div>
    </body>
</html>
